---
Title: BBT.StructureTools
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        This NuGet package provides .NET. classes for copying, comparing and converting object structures.
    </p>
</div>