---
Title: BBT.StructureTools
NoSidebar: true
NoContainer: true
NoGutter: true
---

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">BBT.StructureTools</h1>
        <p>
            .NET. classes for copying, comparing and converting object structures<br/>
        </p>
        <a class="btn btn-primary btn-lg" href="/BBT.StructureTools/docs" role="button">Learn more</a>
        <a class="btn btn-primary btn-lg" href="/BBT.StructureTools/api/BBT.StructureTools" role="button">API documentation</a>
    </div>
</div>

<div class="container">
    <p style="height: 35px;">
        <img alt="GitHub" src="https://img.shields.io/github/license/bbtsoftware/BBT.StructureTools">
        <img alt="GitHub release (latest SemVer)" src="https://img.shields.io/github/v/release/bbtsoftware/BBT.StructureTools">
        <img alt="Nuget" src="https://img.shields.io/nuget/dt/BBT.StructureTools">
    </p>

    <p>
        BBT.StructureTools provides .NET. classes for copying, comparing and converting object structures.
    </p>
</div>